
<div class="list-group">
  <% @lots.each do |lot| %>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Lote: <%= lot.code %></h4>
      <p class="list-group-item-text">Data de Início: <%= lot.start_date %></p>
      <p class="list-group-item-text">Data de Encerramento: <%= lot.end_date %></p>
      <p class="list-group-item-text">Lance Mínimo: <%= lot.minimum_bid %></p>
      <% if lot.bids.any? %>
        <%= button_to "Encerrar", close_status_lot_path(lot), method: :patch, data: { confirm: "Tem certeza que deseja encerrar o lote?" }, class: "btn btn-danger btn-sm" unless lot.closed? %>
      <% else %>
        <%= button_to "Cancelar", cancel_status_lot_path(lot), method: :patch, data: { confirm: "Tem certeza que deseja cancelar o lote?" }, class: "btn btn-danger btn-sm" unless lot.canceled? %>
      <% end %>
    </div>
  <% end %>
</div>
