<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar bg-dark" data-bs-theme="dark">
        <h1><%= link_to 'Leilão', root_path, class: "nome-da-classe m-4" %> </h1>
        <% if user_signed_in? %>
          <%= link_to 'Meus Lotes', lots_path %>
          <div class="text-white">
          <%= current_user.name %> | <%= current_user.email %>
          </div>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-link m-4" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-link m-4" %>
        <% end %>
      </nav>
    </header>
    <main class='m-4'>
      <% if alert.present? || notice.present? %>
        <div class="alert alert-danger">
          <%= alert %>
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
